<div class="main-content">
  <div class="content-post-btn">
    <button class="btn" (click)="addPost()">Add Post</button>
  </div>

  <div *ngFor="let res of response" class="content">
    <img src="../../../assets/avatar.png" alt="Avatar" class="content-img" />
    <div class="content-area">
      <h3 class="content-title">Title: {{ res.title }}</h3>
      <div class="content-body">
        {{ res.body }}
      </div>
      <div class="content-action">
        <a class="btn" (click)="editPost(res)">Edit</a>
        &nbsp;&nbsp;
        <a class="btn" (click)="deletePost(res)"> Delete</a>
      </div>
      <br />
    </div>
  </div>
</div>
