/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn{
    background-color: goldenrod;
    padding:15px 20px;
    border:none;
    box-shadow: 1px 8px 16px #ffff;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;    
}

.main-content{
    display:flex;
    margin:10px 30px;
    padding:25px 45px;
    flex-direction: column;
}

.main-content .content{
    display: flex;
    flex-direction: row;
    width:900px;
    align-items: center;
}


.content-img{
    border-radius: 50%;
    height: 100px;
    width:100px;
}


.content-post-btn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}

.input-text{
    width:50%;
    padding:10px 30px;
}

.input-textarea{
    width:50%;
    height: 150px;
    padding:10px 40px;
    box-sizing: border-box;
    resize: none;
    
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }